<html ng-app="gsaApp">
  <head>
    <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/results.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/angularjs-filters/filters.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">

  </head>
  <body ng-controller="gsaCtrl">
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
          <ul class="nav navbar-nav">
            <li>
              <a href="/" target="_self">Home</a>
            </li>
            <li class="active">
              <a href="/results" target="_self">Resultados<span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <!-- <form class="navbar-form" role="search" ng-submit="submit()"> -->
          <form class="navbar-form" role="search" action="/results">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="search" id="searchNavBar" ng-model="formData.search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </nav>
      </div>
      <br/>
    </div>
    <div class="container-fluid">

      <pre>
        La búsqueda de "<b>{{Datos.Q}}</b>" ha devuelto <b>{{Datos.RES.M}}</b> resultados en <b>{{Datos.TM}}</b> segundos. Pagina {{pagina}} de {{paginaDe}}
      </pre>
      <div id="results"></div>

      <!-- <div ng-show="{{Datos.Spelling.Suggestion[0].q}}">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
          Tal vez quiso decir: <b> {{Datos.Spelling.Suggestion[0].q}} </b>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div ng-repeat="categoria in categorias" class="page">
            <a class="btn page" name="plusTen" ng-href="/{{catURL}}{{categoria.V}}" target="_self">{{categoria.V}} <span class="badge">{{categoria.C}}</span></a>
          </div>
          <a class="btn page" name="plusTen" ng-href="/{{baseURL}}" target="_self"><span class="label label-success">Sin Filtro</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Respuestas</h3>
          <div id="paginas">
            <div ng-if="firstPage" class="page">
              <a class="btn page" name="plusTen" ng-href="/{{prevURL}}" target="_self">Anterior</a>
            </div>
            <div ng-if="lastPage" class="page">
              <a class="btn pagina" name="plusTen" ng-href="/{{nextURL}}" target="_self">Siguiente</a>
            </div>
          </div>
          <ul class="list-unstyled">
            <li ng-repeat="res in formRes">
              <h4 ng-bind-html="res.T">{{res.T}}</h4>
              <p ng-bind-html="res.S">{{res.S}}</p>
              <a href="{{res.U}}" ng-bind-html="res.U">{{res.U}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!--  Descomentar para ver el JSON-->
      <!-- <pre>
        {{ Datos | json}}
      </pre> -->

    </div>

  </body>
  <script>
  </script>

</html>
