
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
  height: 46px
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
div.input-group-btn button.btn-default {
  height: 34px;
  width: 38px;
}
a.page, div.ng-scope.page {display:inline-block;}
